

// ---------- colors ----------

$colorMain: "";
$colorSecondary: "";

// ---------- effects ----------

$trans: 0.2;

// ---------- easing ----------

$ezpz: cubic-bezier(0.65, 0, 0.35, 1);

// ---------- dimensions ----------

$gap: 36px;
$rad: 18px;
$pad: 64px;

// ---------- animations ----------

$quick: 300ms;
$slow: 1s;
$drag: 2s;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// ---------- staging ----------

.enter {
  opacity: 1 !important;
  transform: translate(0px, 0px) scale(1) !important;
  transition: 2s;
}

.stage-left {
  opacity: 0 !important;
  transform: translate(-500px, 0px) scale(0.8);
  transition: 1.5s !important;
  transition-delay: 0s;
}

.stage-right {
  transform: translate(500px, 0px);
  opacity: 0 !important;
  transition: 2s $ezpz !important;
  transition-delay: 0ms;
}

.stage-up {
  opacity: 0;
  transition: 1s;
  transform: translate(0px, -64px);
}

.stage-down {
  opacity: 0;
  transition: 2s;
  transform: translate(0px, 300px);
}

.stage-in {
  opacity: 0;
  transform: scale(0.8);
  transition: 1s;
}

.big-image-stage {
  width: 0%;
  //transition-delay: 1.2s !important;
  filter: brightness(0) !important;
  transition: 1s !important;
}

.big-image-enter {
  width: 60%;
  transition-delay: 500ms !important;
  transition: 3s $ezpz;
}

// ---------- social ----------

.soc-button {
    width: 24px;
    height: 24px;
    //background: white;
    //padding: 12px;
    margin-left: 24px;
    //border-radius: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: $quick;

    &:hover {
      opacity: 0.3;
    }
  }

.insta {
    background-image: url("../assets/i.png");
    background-size: 125% !important;
    filter: invert(1);
  }
  
  .fb {
    background-image: url("../assets/f.png");
    filter: invert(1);
    background-size: 120% !important;
  }
  
  .li {
    background-image: url("../assets/li.png");
    filter: invert(1);
    background-size: 105% !important;
    transform: scale(1.2);
  }
  
  .tw {
    background-image: url("../assets/t.png");
    filter: invert(1);
  }

  // ---------- scrollbar ----------

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    border: 4px solid black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
  }

  // ---------- graphics ----------

  .icon {
    height: 24px;
    width: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .graphic {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .full-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // ---------- assets ----------

  $clock: url('../assets/icons/clock.svg');
  $manman1: url('../assets/manman/manman1.png');